{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
    I'm <strong>Jeevan Jacob</strong>, a passionate Computer Science and Engineering undergraduate at Jyothi Engineering College, Cheruthuruthy. I have a solid academic background, having scored A+ in all subjects in 10th grade from St. Joseph's High School, Pangarapilly, and securing an impressive 98.41% in 12th from GHSS SMT, Chelakkara.
  </p>
  <p>
    My goal is to become a skilled <strong>Data Engineer</strong>, and I’m actively building that path by working on real-world projects involving Python, SQLAlchemy, Flask, PostgreSQL, and deployment tools like Render and Railway. I enjoy building data pipelines, full-stack applications, and solving challenging problems through clean, efficient code.
  </p>
  <p>
    I’m currently expanding my expertise in Data Science, Machine Learning, and System Design — all with a strong focus on placement preparation and building a career I’m proud of. I believe in learning by doing, and every project I take on reflects my growth mindset and curiosity.
  </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
